

#navigation{
background-color: #6f8ca3;	
color: #fff;
font-size: 16px;
font-family: Helvetica, Arial, Sans-serif;
width: 500px;
height: 30px;
}

#navigation a:link{
color: #fff;
text-decoration: none;	
}
#navigation a:visited {
color: #fff;
text-decoration: none;		
}
#navigation a:hover{
color: #273f71;	
text-decoration: underline;
}
#navigation a:active{
color: #fff;
text-decoration: none;	
}