
#footer{
width: 968px;	
height: 60px;
background-color:#6f8ca3;
padding: 13px 3px 27px 36px;
}

#logo-footer{
float: left;	
}
#social-icons-footer{
float:right;	

}
#social-icons-footer img{
margin-right: 11px;	
}

#logo-footer h3{
color:#eef4f8;
font-size: 24px;
font-weight: bold;
display: inline;
}

#logo-footer h4{
color:#c4d6e5;
display: inline;
font-size: 14px;
font-weight:bold;	
margin-left: 8px;
}
#logo-footer p{
color: #c4d6e5;
font-size: 11px;	
}
